<div>

{% if site.owner.duoshuo-shortname %}
 多说评论框 start 
    <div class="comment">
        <div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="{{site.url}}{{page.title}}"></div>
    </div>
 多说评论框 end 

 多说公共JS代码 start (一个网页只需插入一次) 
<script type="text/javascript">
var duoshuoQuery = {short_name:"jincan39"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
 多说公共JS代码 end 
{% endif %}
</div>


<!--    多说加载之前-->
<!--{% if site.owner.duoshuo-shortname %}-->
<!-- 多说评论框 start -->
<!--   多说加载之后-->
<!--<script type="text/javascript">-->
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var duoshuo-shortname = '{{ site.owner.duoshuo-shortname }}'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
<!--    (function() {-->
<!--        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;-->
        // dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';//static.duoshuo.com/embed.js
<!--        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);-->
<!--    })();-->

    /* * * DON'T EDIT BELOW THIS LINE * * */
<!--    (function () {-->
<!--        var s = document.createElement('script'); s.async = true;-->
<!--        s.type = 'text/javascript';-->
        // s.src = '//' + disqus_shortname + '.disqus.com/count.js';
<!--         s.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';-->
<!--        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);-->
<!--    }());-->
<!--</script>-->
<!--<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<!--{% endif %}-->
